.container {
  background-color: rgba(19, 112, 107, 0.658);
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 5;
  grid-template-areas:
    'nav'
    'header'
    'maincontent'
    'footer';
  
}
.nav-link {
  text-decoration: none;
  color: bisque;
  padding: 10px 15px;
  display: inline-block
}
.nav-link.hover {
  background-color: #ddd;
  border-radius: 5px;
}
.nav-link.active {
  background-color: #000;
  color:#fff;
  border-radius: 5px;
}

.nav {
  grid-area: nav;
}

.header {
  grid-area: header;
  font-size: 2em;
  justify-self: center;
  margin-top: 50px;
  text-align: center;
}

footer {
  grid-area: footer;
  text-align: center;
  font-size: 0.8em;
}


