
.main {
    background-color: #137c79b2;
    margin: 30px 10%;
    padding: 20px;
    grid-area: maincontent;
    display: grid;
    justify-content:space-evenly;
    justify-items: left;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-template-areas:
    'hero video';	
    
}

.hero {
    grid-area: hero;
    padding: 30px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.video {
    grid-area: video;
    text-align: center;
}


